

@mixin media($size, $landscape:"") {

  // smartphones, iPhone, portrait 480x320 phones
  @if $size == phone {
    @media (min-width: 320px) {
      @content;
    }
  }

  // portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
  @if $size == phoneL or $landscape == phone {
    @media (min-width: 481px) {
      @content;
    }
  }

  // portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones.
  @if $size == tablet {
    @media (min-width: 641px) {
      @content;
    }
  }

  // tablet, landscape iPad, lo-res laptops ands desktops.
  @if $size == tabletL or $landscape == tablet {
    @media (min-width: 961px) {
      @content;
    }
  }

  // big landscape tablets, laptops, and desktops.
  @if $size == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }


  // hi-res laptops and desktops.
  @if $size == desktopL or $landscape == desktop {
    @media (min-width: 1281px) {
      @content;
    }
  }

}

@mixin green-box-btn {
  color: $text-green;
  padding: 6px 23px;
  border: 1px solid $text-green;
}
