@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "./_variables";
@import './_mixins';

@import "font-awesome.scss";
@import "font-mfizz.scss";


/* ==========================================================================
   BASE
   ========================================================================== */


html {
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html,
body {
	font-family: 'roboto', sans-serif;
	color: $theme-color;
	font-size-adjust: 0.45;
	background-color: #333;
	font-weight: 300;
	letter-spacing: 0.5px;
}

a {
	color: $theme-bgcolor-3;
	text-decoration: none !important;

	&:hover,
	&:focus {
		color: skyblue !important;
	}
}

p {
	@extend h4;
	margin-top: 15px;
	font-weight: inherit;
}

hr {
	margin: 0;
}

// h1,
// h2,
// h3,
// h4 {
// 	font-family: 'montserrat', Tahoma;
// }

h1,
h2,
h3,
h4,
p,
span {
	line-height: 3rem;
}

header {
	background: rgba(#000, 0.85);
	text-align: center;
	z-index: 9999;
	position: fixed;
	width: 100%;
}


.mar-top-no {
	margin-top: 0;
}

.pad-top {
	padding-top: 15px;
}

.pad-top-2x {
	padding-top: 30px;
}

.pad-top-3x {
	padding-top: 45px;
}

.i-block {
	display: inline-block;

	&.vtop {
		vertical-align: top;
	}

	&.vmiddle {
		vertical-align: middle;
	}
}

.content-wrap {
	padding: 0px 7%;

	.head {
		margin-top: 0;
		margin-bottom: 15px;
	}

	.sub-head {
		color: #e6e5c1 !important;
		border-bottom: 1px solid;
		display: inline-block;
		padding-bottom: 2px;
		text-transform: uppercase;
		font-weight: 400;
	}
}



/* ==========================================================================
   LAYOUT
   ========================================================================== */


$grid-columns: 24;

@for $i from 1 through $grid-columns {

	.column-#{$i} {
		width: 100% / $grid-columns * $i;
	}

}

$max: 15;
$step: 5;

@for $i from 1 through $max {
	$value: $step * $i;

	.pad-r-#{$value} {
		padding-right: $value + px;
	}

	.pad-l-#{$value} {
		padding-left: $value + px;
	}

	.pad-t-#{$value} {
		padding-top: $value + px;
	}

	.pad-b-#{$value} {
		padding-bottom: $value + px;
	}

	.mar-r-#{$value} {
		margin-right: $value + px;
	}

	.mar-l-#{$value} {
		margin-left: $value + px;
	}

	.mar-t-#{$value} {
		margin-top: $value + px;
	}

	.mar-b-#{$value} {
		margin-bottom: $value + px;
	}

}

.no-pad {
	padding: 0;
}

.no-pad-r {
	padding-right: 0;
}

.no-pad-l {
	padding-left: 0;
}

.no-pad-t {
	padding-top: 0;
}

.no-pad-b {
	padding-bottom: 0;
}

.no-mar {
	margin: 0;
}

.no-mar-r {
	margin-right: 0;
}

.no-mar-l {
	margin-left: 0;
}

.no-mar-t {
	margin-top: 0;
}

.no-mar-b {
	margin-bottom: 0;
}

@for $i from 11 through 50 {
	.font-#{$i} {
		font-size: $i + px;
	}
}


/* ==========================================================================
   MODULE
   ========================================================================== */


.nav-wrap li a {
	color: $theme-color;
	font-family: $theme-font;
	font-size: 14.5px;
	padding: 18px 20px;
	text-transform: uppercase;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	outline: 0px none;
	letter-spacing: 1px;

	&:hover,
	&:focus {
		background: rgba(153, 51, 141, 0.5);
		outline: 0px none;
		color: inherit !important;
	}
}

.section,
article {
	display: block;

	.content-wrap {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.content-wrap-i {
		margin: 40px 0px;
	}
}

.section {
	box-shadow: 0px -1px 15px #000;

	&.about-me {
		background: url("../images/space-1.jpg");
		background-attachment: fixed;
		background-position: bottom;
		background-size: cover;
		position: relative;
	}

	&.skills {
		position: relative;
	}

	&.skills:before {
		content: "";
		background: url("../images/abstract-2.jpg");
		background-attachment: fixed;
		background-size: cover;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.3;
	}

	&.contact {
		background: url("../images/abstract-1.jpg");
		background-attachment: fixed;
		background-size: cover;
		position: relative;
		word-wrap: break-word;

		a {
			color: inherit;
		}
	}
}

.intro {
	min-height: 550px;
	height: 100vh;
	background: #111;

	.details-wrap {
		position: relative;
		z-index: 999;
	}

	.details {
		margin-top: 22vh;
		display: inline-block;
		cursor: default;

		h1 {
			font-family: 'varela round', sans-serif;
			background: transparentize(black, 0.8);
			padding: 15px;
			margin-bottom: 0;
			display: inline-block;
			line-height: 3.9rem;
		}

		h3 {
			background: transparentize(black, 0.8);
			padding: 15px;
			margin-top: 0;
			font-weight: inherit;
		}
	}
}

.skills {
	ul {
		padding-left: 15px;
		padding-right: 70px;

		&:last-child {
			padding-right: 0px;
		}

		li p {
			margin: 0px;
			font-weight: inherit;
		}
	}
}

.about-bg {
	background: rgba(#000, 0.4);
	width: 100%;
	position: relative;
	z-index: 99;
}

.skills-bg {
	background: rgba(#000, 0.85);
	width: 100%;
	min-height: 500px;
}

.contact-bg {
	// background: rgba(81, 49, 81, 0.5);
	width: 100%;
}

.fallback-bg,
.sn-active {
	background: #516E87
}

.transition-bg {
	background: #516E87
}

.mountains-bg {
	background-image: url("../Images/mountains.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover
}

.skyline-bg {
	background: url("../Images/city-skyline.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover
}

.night-bg {
	background: url("../Images/night-sky.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover
}

.sky-bg {
	background: url("../Images/sky.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover
}

.seasky-bg {
	background: url("../Images/sea-sky.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover
}

.round {
	border-radius: 100%;
}

.shadow {
	box-shadow: 1px 1px 2px #111;
}




@media(min-width: 768px) {

	.nav-wrap li,
	.nav-wrap li a {
		display: inline-block;
	}
}


/*****---  [SLIDER]  ---*****/

.slider {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;

	.slide {
		min-height: 500px;
		height: 100%;

		.overlay {
			background: rgba(#000, 0.2);
			width: 100%;
			height: 100%;
		}
	}
}

.skill-slider-wrap {
	position: absolute;
	left: 70%;
}

.skill-slider {
	min-height: 270px;
	margin-top: 100px;

	i.slide {
		max-height: 340px;
		text-align: center;

		&:before {
			vertical-align: top;
		}
	}
}

.slide {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	position: absolute;

	&.out {
		z-index: 99;
	}
}

.skyblur-bg {
	background-image: url('../images/sky-blur.jpg');
}

.skyblur-bg-2 {
	background-image: url('../images/galaxy-1.jpg');
}

.skyblur-bg-3 {
	background-image: url('../images/space-1.jpg');
}

.skyblur-bg-4 {
	background-image: url('../images/abstract-1.jpg');
}

.skyblur-bg-5 {
	background-image: url('../images/abstract-2.jpg');
}


/*****---  [/SLIDER]  ---*****/


/* ==========================================================================
   STATE
   ========================================================================== */





/* ==========================================================================
   THEME
   ========================================================================== */